.main{
  height: 900vh;
}

.paris{
  height: 200px;
}

.zoomInSection{
  padding-block: 2rem;
  padding-inline: 4rem;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/paris.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 40%;
  top: 10%;
  height: 80vh;
  width: 25vw;
  z-index: -1;
}

.textAnimation{
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  width: 100%;
}

.heading{ 
  font-size: 160px;
}

.selectedProjects{
  z-index: 2;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0%;
  background-color: white;
  text-align: center;
}

.selectedProjects h1{
  margin-block-start: 15rem;
  font-size: 35px;
}

.selectedProjects img{
  height: 200px;
  margin-inline : -3rem;
}